system/system/priv-app/GmsCore/GmsCore.apk
system/system/priv-app/Velvet/Velvet.apk
system/system/priv-app/Browser/Browser.apk
system/system/priv-app/Settings/Settings.apk
system/system/app/YouTube/YouTube.apk
system/system/app/Photos/Photos.apk
system/system/app/LatinImeGoogle/LatinImeGoogle.apk
system/system/app/Chrome/Chrome.apk
boot.img
firmware-update/NON-HLOS.bin
